@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 22s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}